.wp-block-eighteen73-navigation {
	.wp-block + .block-list-appender .block-editor-button-block-appender.block-editor-button-block-appender.block-editor-button-block-appender {
		padding: 0;
	}

	.wp-block + .block-list-appender .block-editor-button-block-appender {
		background-color: #1e1e1e;
		color: #fff;
		height: 24px;
	}
}
