.wp-block-eighteen73-navigation {

	// Global.
	--_accent-color: var(--eighteen73-navigation--accent-color, var(--wp--custom--eighteen-73-navigation--accent-color, var(--wp--preset--color--brand-primary, #000)));
	--_transition-duration: var(--eighteen73-navigation--transition-duration, var(--wp--custom--eighteen-73-navigation--transition-duration, 300ms));
	--_icon-size: var(--eighteen73-navigation--icon-size, var(--wp--custom--eighteen-73-navigation--icon-size, 0.75em));

	// Items.
	--_item--gap: var(--eighteen73-navigation--item--gap, var(--wp--custom--eighteen-73-navigation--item--gap, var(--wp--preset--spacing--xs, 8px)));
	--_item--padding: var(--eighteen73-navigation--item--padding, var(--wp--custom--eighteen-73-navigation--item--padding, 0));
	--_item--color: var(--eighteen73-navigation--item--color, var(--wp--custom--eighteen-73-navigation--item--color, currentcolor));
	--_item--icon-color: var(--eighteen73-navigation--item--icon-color, var(--wp--custom--eighteen-73-navigation--item--icon-color, currentcolor));

	// Submenus.
	--_submenu--gap: var(--eighteen73-navigation--submenu--gap, var(--wp--custom--eighteen-73-navigation--submenu--gap, inherit));
	--_submenu--padding: var(--eighteen73-navigation--submenu--padding, var(--wp--custom--eighteen-73-navigation--submenu--padding, var(--wp--preset--spacing--sm, 8px)));
	--_submenu--item-padding: var(--eighteen73-navigation--submenu--item-padding, var(--wp--custom--eighteen-73-navigation--submenu--item-padding, 0px)); //stylelint-disable-line length-zero-no-unit
	--_submenu--color: var(--eighteen73-navigation--submenu--color, var(--wp--custom--eighteen-73-navigation--submenu--color, inherit));
	--_submenu--background-color: var(--eighteen73-navigation--submenu--background-color, var(--wp--custom--eighteen-73-navigation--submenu--background-color, var(--wp--preset--color--base, #fff)));
	--_submenu--icon-color: var(--eighteen73-navigation--submenu--icon-color, var(--wp--custom--eighteen-73-navigation--submenu--icon-color, var(--wp--preset--color--contrast, #000)));
	--_submenu--divider: 1px solid var(--eighteen73-navigation--submenu--divider-color, transparent);

	// Drill-down.
	--_drill-down--item--padding: var(--eighteen73-navigation--drill-down--item--padding, var(--wp--custom--eighteen-73-navigation--drill-down--item--padding, var(--wp--preset--spacing--sm, 8px) 0));

	// Submenu header.
	--_submenu-header--padding: var(--eighteen73-navigation--submenu-header--padding, var(--wp--custom--eighteen-73-navigation--submenu-header--padding, var(--wp--preset--spacing--md, 12px)));
	--_submenu-header--gap: var(--eighteen73-navigation--submenu-header--gap, var(--wp--custom--eighteen-73-navigation--submenu-header--gap, var(--wp--preset--spacing--xl, 24px)));
	--_submenu-header--color: var(--eighteen73-navigation--submenu-header--color, var(--wp--custom--eighteen-73-navigation--submenu-header--color, var(--wp--preset--color--base, #fff)));
	--_submenu-header--background-color: var(--eighteen73-navigation--submenu-header--background-color, var(--wp--custom--eighteen-73-navigation--submenu-header--background-color, var(--wp--preset--color--contrast, #000)));
	--_submenu-header--icon-color: var(--eighteen73-navigation--submenu-header--icon-color, var(--wp--custom--eighteen-73-navigation--submenu-header--icon-color, currentcolor));

	// Submenu header label.
	--_submenu-header-label--font-size: var(--eighteen73-navigation--submenu-header-label--font-size, var(--wp--custom--eighteen-73-navigation--submenu-header-label--font-size, inherit));
	--_submenu-header-label--font-weight: var(--eighteen73-navigation--submenu-header-label--font-weight, var(--wp--custom--eighteen-73-navigation--submenu-header-label--font-weight, inherit));

	// View all link.
	--_view-all--font-size: var(--eighteen73-navigation--view-all--font-size, var(--wp--custom--eighteen-73-navigation--view-all--font-size, inherit));
	--_view-all--font-weight: var(--eighteen73-navigation--view-all--font-weight, var(--wp--custom--eighteen-73-navigation--view-all--font-weight, inherit));
	--_view-all--color: var(--eighteen73-navigation--view-all--color, var(--wp--custom--eighteen-73-navigation--view-all--color, inherit));

	@media (prefers-reduced-motion: reduce) {
		--_transition-duration: 0ms;
	}

	// Main navigation items
	.wp-block-eighteen73-navigation__items {
		align-items: inherit;
		display: flex;
		flex-direction: inherit;
		flex-wrap: inherit;
		gap: inherit;
		justify-content: inherit;
		list-style: none;
		margin: 0;
		padding: 0;

		.is-content-justification-space-between > & {
			flex-grow: 1;
		}
	}

	// Navigation item
	.wp-block-navigation-item {
		column-gap: var(--_item--gap);
		display: flex;
		justify-content: space-between;
		line-height: 1;
		position: relative;
		row-gap: inherit;
	}

	// Link
	.wp-block-navigation-item__content {
		align-items: center;
		color: var(--_item--color);
		display: inline-flex;
		gap: var(--_item--gap);
		justify-content: space-between;
		padding: var(--_item--padding);
		text-decoration: none;
	}

	// Submenu toggle
	.wp-block-eighteen73-navigation__submenu-toggle {
		align-items: center;
		background: unset;
		border: unset;
		color: var(--_item--color);
		cursor: pointer;
		display: inline-flex;
		font: inherit;
		gap: var(--_item--gap);
		justify-content: space-between;
		padding: unset;
		text-decoration: none;

		&::after {
			background-color: var(--_item--icon-color);
			content: "";
			display: inline-block;
			mask-repeat: no-repeat;
			mask-size: contain;
		}
	}

	// Submenu
	.wp-block-eighteen73-navigation__submenu {
		background-color: var(--_submenu--background-color);
		color: var(--_submenu--color);
		opacity: 0;
		visibility: hidden;

		.wp-block-eighteen73-navigation__submenu-toggle::after {
			background-color: var(--_submenu--icon-color);
		}

		// Submenu item
		.wp-block-navigation-item__content {
			padding: var(--_submenu--item-padding);
		}
	}

	// Submenu Items
	.wp-block-navigation__submenu-items {
		color: inherit;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		row-gap: var(--_submenu--gap);
	}

	// Item with open submenu
	.has-open-submenu {
		> .wp-block-eighteen73-navigation__submenu {
			opacity: 1;
			visibility: visible;
		}
	}

	// Simple menu type
	&.is-menu-type-simple {
		.wp-block-eighteen73-navigation__submenu {
			background: var(--_submenu--background-color);
			left: calc(var(--_submenu--padding) * -1);
			padding: var(--_submenu--padding);
			position: absolute;
			top: 100%;
			z-index: 10;
		}

		// Submenu opens on hover
		&.is-submenu-opens-on-hover {
			.wp-block-eighteen73-navigation__submenu-toggle-text {
				display: none;
			}
		}

		// Submenu opens on click
		&.is-submenu-opens-on-click {
			.has-child > .wp-block-navigation-item__content {
				display: none;
			}
		}

		// Vertical navigation
		&.is-vertical {
			.wp-block-eighteen73-navigation__items {
				position: relative;
			}

			// Items
			.wp-block-navigation-item {
				position: static;
				width: 100%;
			}

			// Submenu
			.wp-block-eighteen73-navigation__submenu {
				bottom: calc(0px - var(--_submenu--padding));
				left: 100%;
				top: calc(0px - var(--_submenu--padding));
			}

			// Link
			.wp-block-navigation-item__content {
				flex: 1 1 0;
			}

			// Submenu toggle
			.wp-block-eighteen73-navigation__submenu-toggle {
				justify-content: space-between;

				&::after {
					mask-image: url("../../../assets/svg/caret-right.svg");
				}
			}

			// Item with open submenu
			.has-open-submenu {
				> .wp-block-eighteen73-navigation__submenu-toggle::after {
					mask-image: url("../../../assets/svg/caret-right.svg");
				}
			}

			// Submenu opens on click
			&.is-submenu-opens-on-click {
				.wp-block-eighteen73-navigation__submenu-toggle {
					width: 100%;
				}
			}

			// Nested submenu
			.has-child .has-child {

				// Submenu
				.wp-block-eighteen73-navigation__submenu {
					top: 0;
				}
			}
		}

		// Submenu toggle
		.wp-block-eighteen73-navigation__submenu-toggle::after {
			height: var(--_icon-size);
			mask-image: url("../../../assets/svg/caret-down.svg");
			width: var(--_icon-size);
		}

		// Item with open submenu
		.has-open-submenu {
			> .wp-block-eighteen73-navigation__submenu-toggle::after {
				mask-image: url("../../../assets/svg/caret-up.svg");
			}
		}

		// Nested submenu
		.has-child .has-child {

			// Submenu
			.wp-block-eighteen73-navigation__submenu {
				left: 100%;
				top: calc(0px - var(--_submenu--padding));
			}

			// Icon
			> .wp-block-navigation-item__content::after,
			> .wp-block-eighteen73-navigation__submenu-toggle::after {
				mask-image: url("../../../assets/svg/caret-right.svg");
			}
		}
	}

	// Accordion menu type
	&.is-menu-type-accordion {
		flex-direction: column;

		// Main navigation items
		.wp-block-eighteen73-navigation__items {
			width: 100%;
		}

		// Items
		.wp-block-navigation-item {
			flex-wrap: wrap;
			transition: row-gap var(--_transition-duration);
			width: 100%;

			&:where(:not(.has-open-submenu)) {
				row-gap: 0;
			}
		}

		// Link
		.wp-block-navigation-item__content {
			flex: 1 1 0;
		}

		// Submenu
		.wp-block-eighteen73-navigation__submenu {
			display: grid;
			grid-template-rows: 0fr;
			position: static;
			transition: grid-template-rows var(--_transition-duration), opacity var(--_transition-duration), visibility var(--_transition-duration);
			width: 100%;

			> .wp-block-navigation__submenu-items {
				min-height: 0;
			}
		}

		// Submenu toggle
		.wp-block-eighteen73-navigation__submenu-toggle::after {
			height: var(--_icon-size);
			mask-image: url("../../../assets/svg/caret-down.svg");
			width: var(--_icon-size);
		}

		// Item with open submenu
		.has-open-submenu {
			> .wp-block-eighteen73-navigation__submenu {
				grid-template-rows: 1fr;
				row-gap: inherit;

				> .wp-block-navigation__submenu-items {
					row-gap: inherit;
				}
			}

			> .wp-block-eighteen73-navigation__submenu-toggle::after {
				mask-image: url("../../../assets/svg/caret-up.svg");
			}
		}

		// Submenu opens on click
		&.is-submenu-opens-on-click {

			// Link - hidden in this context
			.has-child > .wp-block-navigation-item__content {
				display: none;
			}

			// Submenu toggle
			.wp-block-eighteen73-navigation__submenu-toggle {
				padding: var(--_item--padding);
				width: 100%;
			}
		}

		// Submenu opens on hover
		&.is-submenu-opens-on-hover {

			// Submenu toggle
			.has-child {
				.wp-block-eighteen73-navigation__submenu-toggle {
					aspect-ratio: 1 / 1;
					height: 1em;
				}

				// Submenu toggle text
				.wp-block-eighteen73-navigation__submenu-toggle-text {
					display: none;
				}
			}
		}
	}

	// Drill-down menu type
	&.is-menu-type-drill-down {
		flex-direction: column;
		overflow: hidden;
		position: relative;

		// Main navigation items
		.wp-block-eighteen73-navigation__items {
			gap: 0;
			width: 100%;
		}

		// Items
		.wp-block-navigation-item {
			position: static;
			width: 100%;

			+ .wp-block-navigation-item {
				border-top: var(--_submenu--divider);
			}
		}

		// Items with block content
		.has-block-content {
			padding: var(--_drill-down--item--padding);
		}

		.wp-block-navigation-item__content,
		.wp-block-eighteen73-navigation__submenu-toggle {
			flex: 1 1 0;
			padding: var(--_drill-down--item--padding);
		}

		// Link - hidden in this context
		.has-child > .wp-block-navigation-item__content {
			display: none;
		}

		// Submenu
		.wp-block-eighteen73-navigation__submenu {
			background-color: var(--_submenu--background-color);
			display: block;
			height: 100%;
			inset: 0;
			opacity: 1; // Opacity required to be visible for the transition to show correctly.
			overflow: hidden;
			position: absolute;
			transform: translateX(-100%);
			transition: transform var(--_transition-duration), visibility var(--_transition-duration);
			visibility: hidden;
			width: 100%;
			z-index: 15;
		}

		// Submenu toggle
		.wp-block-eighteen73-navigation__submenu-toggle::after {
			height: var(--_icon-size);
			mask-image: url("../../../assets/svg/caret-right.svg");
			width: var(--_icon-size);
		}

		// Item with open submenu
		.has-open-submenu {

			// Submenu
			> .wp-block-eighteen73-navigation__submenu {
				transform: translateX(0);
				visibility: visible;
			}
		}

		// Back button
		.wp-block-eighteen73-navigation__submenu-header {
			align-items: center;
			background-color: var(--_submenu-header--background-color);
			color: var(--_submenu-header--color);
			display: flex;
			font: inherit;
			gap: var(--_submenu-header--gap);
			padding: var(--_submenu-header--padding);
			width: 100%;
		}

		// Back button
		.wp-block-eighteen73-navigation__back {
			align-items: center;
			background-color: var(--_submenu-header--background-color);
			border: unset;
			box-shadow: unset;
			color: var(--_submenu-header--color);
			cursor: pointer;
			display: inline-flex;
			font: inherit;
			gap: var(--_item--gap);
			justify-content: flex-start;

			&::before {
				background-color: var(--_submenu-header--icon-color);
				content: "";
				display: inline-block;
				height: var(--_icon-size);
				mask-image: url("../../../assets/svg/caret-left.svg");
				mask-repeat: no-repeat;
				mask-size: contain;
				width: var(--_icon-size);
			}
		}

		// Parent label
		.wp-block-eighteen73-navigation__parent-label {
			font-size: var(--_submenu-header--font-size);
			font-weight: var(--_submenu-header--font-weight);
		}

		// View all link
		.wp-block-eighteen73-navigation__view-all {
			color: var(--_view-all--color);
			font-size: var(--_view-all--font-size);
			font-weight: var(--_view-all--font-weight);
			margin-left: auto;
		}

		&:not(.has-submenu-label) .wp-block-eighteen73-navigation__parent-label {
			display: none;
		}

		&:not(.has-submenu-view-all) .wp-block-eighteen73-navigation__view-all {
			display: none;
		}
	}
}
