.wp-block-matter-accordion-item {
	@media (prefers-reduced-motion: no-preference) {
		transition: grid-template-rows 300ms ease-out;

		> .wp-block-matter-accordion-heading
		.wp-block-matter-accordion-heading__toggle-icon {
			transition: transform 200ms ease-in-out;
		}
	}

	&.is-open > .wp-block-matter-accordion-heading .wp-block-matter-accordion-heading__toggle-icon {
		transform: rotate(45deg);
	}

	&.is-open > .wp-block-matter-accordion-panel {
		display: block;
	}

	&:not(.is-open) > .wp-block-matter-accordion-panel {
		display: none;
	}
}
