.wp-block-matter-navigation-menu-toggle {
	align-items: center;
	background: unset;
	border: 1px solid currentcolor;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font: inherit;
	gap: 0.5em;
	padding: 0.5em 0.75em;
}
