.wp-block-matter-carousel-thumbs {
	.embla__thumbs__container:empty {
		border: 1px dashed #000;
		min-height: 48px;
	}

	.embla__thumbs__container > .wp-block {
		border-radius: var(--_thumb--border-radius);
		cursor: pointer;
		flex: 0 0 auto;
		margin: 0;
	}
}
