.wp-block-matter-carousel {
	.embla,
	.embla .embla__viewport {
		min-height: 40px;
	}

	.block-list-appender .block-editor-button-block-appender.block-editor-button-block-appender.block-editor-button-block-appender {
		padding: 0;
	}

	.wp-block + .block-list-appender .block-editor-button-block-appender {
		background-color: #1e1e1e;
		box-shadow: none;
		color: #fff;
		height: 24px;
	}
}
