@use "../../constants/breakpoints" as bp;

.wp-block-eighteen73-blocks-carousel {
	--wp--custom--eighteen73-carousel--slide--gap: var(--wp--custom--eighteen73-carousel--slide--gap-base, 0);
	--wp--custom--eighteen73-carousel--slide--gap-left: var(--wp--custom--eighteen73-carousel--slide--gap-left-base, 0);
	--wp--custom--eighteen73-carousel--slide--gap-top: var(--wp--custom--eighteen73-carousel--slide--gap-top-base, 0);
	--wp--custom--eighteen73-carousel--slides-to-show: var(--wp--custom--eighteen73-carousel--slides-to-show-base, 1);
	--wp--custom--eighteen73-carousel--slide--width: calc(100% / var(--wp--custom--eighteen73-carousel--slides-to-show));
	--wp--custom--eighteen73-carousel--direction: row;
	--wp--custom--eighteen73-carousel--container-height: var(--wp--custom--eighteen73-carousel--container-height-base, auto);

	@each $name, $size in bp.$breakpoints {
		@media (--#{$name}) {
			--wp--custom--eighteen73-carousel--slides-to-show: var(--wp--custom--eighteen73-carousel--slides-to-show-#{$name}, var(--wp--custom--eighteen73-carousel--slides-to-show-base));
			--wp--custom--eighteen73-carousel--slide--gap: var(--wp--custom--eighteen73-carousel--slide--gap-#{$name}, var(--wp--custom--eighteen73-carousel--slide--gap-base, 0));
			--wp--custom--eighteen73-carousel--slide--gap-left: var(--wp--custom--eighteen73-carousel--slide--gap-left-#{$name}, var(--wp--custom--eighteen73-carousel--slide--gap-left-base, 0));
			--wp--custom--eighteen73-carousel--slide--gap-top: var(--wp--custom--eighteen73-carousel--slide--gap-top-#{$name}, var(--wp--custom--eighteen73-carousel--slide--gap-top-base, 0));
			--wp--custom--eighteen73-carousel--direction: var(--wp--custom--eighteen73-carousel--direction-#{$name}, var(--wp--custom--eighteen73-carousel--direction-base, row));
			--wp--custom--eighteen73-carousel--container-height: var(--wp--custom--eighteen73-carousel--container-height-#{$name}, var(--wp--custom--eighteen73-carousel--container-height-base, auto));
		}
	}

	.embla {
		overflow: hidden;
		position: relative;

		.embla__viewport {
			overflow: hidden;
		}

		.embla__container {
			flex-direction: var(--wp--custom--eighteen73-carousel--direction);
			height: var(--wp--custom--eighteen73-carousel--container-height);
			margin-left: calc(var(--wp--custom--eighteen73-carousel--slide--gap-left) * -1);
			margin-top: calc(var(--wp--custom--eighteen73-carousel--slide--gap-top) * -1);
		}

		.embla__container:has(> *:not(.wp-block-query, .wp-block-woocommerce-product-collection)),
		.wp-block-post-template,
		.wp-block-woocommerce-product-template {
			display: flex;
			touch-action: pan-y pinch-zoom;

			> * {
				flex: 0 0 var(--wp--custom--eighteen73-carousel--slide--width);
				margin: 0;
				min-width: 0;
				padding-left: var(--wp--custom--eighteen73-carousel--slide--gap-left);
				padding-top: var(--wp--custom--eighteen73-carousel--slide--gap-top);
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.wp-block-eighteen73-blocks-carousel-next-button,
	.wp-block-eighteen73-blocks-carousel-previous-button {
		--wp--custom--eighteen73-carousel--button--size: 32px;
		--wp--custom--eighteen73-carousel--button--icon-size: 50%;
		--wp--custom--eighteen73-carousel--button--gap: var(--wp--preset--spacing--md, 12px);
		--wp--custom--eighteen73-carousel--button--background-color: transparent;
		--wp--custom--eighteen73-carousel--button--icon-color: currentcolor;
		--wp--custom--eighteen73-carousel--button--border-radius: 50%;

		align-items: center;
		appearance: none;
		background-color: var(--wp--custom--eighteen73-carousel--button--background-color);
		border: 0;
		border-radius: var(--wp--custom--eighteen73-carousel--button--border-radius);
		cursor: pointer;
		display: inline-flex;
		height: var(--wp--custom--eighteen73-carousel--button--size);
		justify-content: center;
		margin: 0;
		padding: 0;
		position: relative;
		text-decoration: none;
		touch-action: manipulation;
		width: var(--wp--custom--eighteen73-carousel--button--size);

		&:where(.has-background) {
			background-color: var(--wp--style--color--background);
		}

		&:disabled {
			opacity: 0.3;
		}

		.embla__button-label {
			text-indent: -9999px;

			&::after {
				background-color: var(--wp--custom--eighteen73-carousel--button--icon-color);
				border-radius: inherit;
				content: "";
				inset: 0;
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: var(--wp--custom--eighteen73-carousel--button--icon-size);
				position: absolute;
			}
		}

		&:where(.embla__button--previous) {
			.embla__button-label::after {
				mask-image: url("../../../assets/svg/arrow-left.svg");
			}
		}

		&:where(.embla__button--next) {
			justify-self: flex-end;

			.embla__button-label::after {
				mask-image: url("../../../assets/svg/arrow-right.svg");
			}
		}
	}
}
