.wp-block-eighteen73-blocks-carousel {
	--eighteen73-blocks--carousel--slide--gap: var(--carousel-slide-gap, 0); // stylelint-disable-line custom-property-pattern -- backwards compatibility
	--eighteen73-blocks--carousel--slide--width: var(--carousel-slide-width, 100%); // stylelint-disable-line custom-property-pattern -- backwards compatibility

	.embla {
		overflow: hidden;
		position: relative;

		.embla__viewport {
			overflow: hidden;
		}

		.embla__container {
			margin-left: calc(var(--eighteen73-blocks--carousel--slide--gap) * -1);
		}

		.embla__container:has(> *:not(.wp-block-query, .wp-block-woocommerce-product-collection)),
		.wp-block-post-template,
		.wp-block-woocommerce-product-template {
			display: flex;
			touch-action: pan-y pinch-zoom;

			> * {
				flex: 0 0 var(--eighteen73-blocks--carousel--slide--width);
				margin: 0;
				min-width: 0;
				padding-left: var(--eighteen73-blocks--carousel--slide--gap);
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.wp-block-eighteen73-blocks-carousel-next-button,
	.wp-block-eighteen73-blocks-carousel-previous-button {
		// stylelint-disable custom-property-pattern -- backwards compatibility
		--eighteen73-blocks--carousel--button--size: var(--carousel-button-size, 32px);
		--eighteen73-blocks--carousel--button--icon-size: var(--carousel-button-icon-size, 12px);
		--eighteen73-blocks--carousel--button--gap: var(--carousel-button-gap, var(--wp--preset--spacing--md, 12px));
		--eighteen73-blocks--carousel--button--background-color: var(--carousel-button-background-color, transparent);
		--eighteen73-blocks--carousel--button--icon-color: var(--carousel-button-icon-color, currentcolor);
		--eighteen73-blocks--carousel--button--border-radius: var(--carousel-button-border-radius, 50%);
		// stylelint-enable custom-property-pattern

		&:where(.has-background) .embla__button {
			background-color: var(--wp--style--color--background);
		}

		.embla__button {
			align-items: center;
			appearance: none;
			background-color: var(--eighteen73-blocks--carousel--button--background-color);
			border: 0;
			border-radius: var(--eighteen73-blocks--carousel--button--border-radius);
			cursor: pointer;
			display: inline-flex;
			height: var(--eighteen73-blocks--carousel--button--size);
			justify-content: center;
			margin: 0;
			padding: 0;
			position: relative;
			text-decoration: none;
			touch-action: manipulation;
			width: var(--eighteen73-blocks--carousel--button--size);

			&:disabled {
				opacity: 0.3;
			}

			.embla__button-label {
				text-indent: -9999px;

				&::after {
					background-color: var(--eighteen73-blocks--carousel--button--icon-color);
					border-radius: inherit;
					content: "";
					inset: 0;
					mask-position: center;
					mask-repeat: no-repeat;
					mask-size: var(--eighteen73-blocks--carousel--button--icon-size);
					position: absolute;
				}
			}

			&:where(.embla__button--previous) {
				.embla__button-label::after {
					mask-image: url("../../../assets/svg/arrow-left.svg");
				}
			}

			&:where(.embla__button--next) {
				justify-self: flex-end;

				.embla__button-label::after {
					mask-image: url("../../../assets/svg/arrow-right.svg");
				}
			}
		}
	}
}
