.wp-block-matter-drawer__editor-backdrop {
	--_backdrop-color: var(--matter-drawer-content--backdrop-color, var(--wp--custom--matter-drawer-content--backdrop-color, transparent));
	--_backdrop-opacity: calc(var(--matter-drawer-content--backdrop-opacity, var(--wp--custom--matter-drawer-content--backdrop-opacity, 50)) / 100);
	--_backdrop-blur: calc(var(--matter-drawer-content--backdrop-blur, var(--wp--custom--matter-drawer-content--backdrop-blur, 0)) * 1px);

	backdrop-filter: blur(var(--_backdrop-blur));
	background-color: var(--_backdrop-color);
	inset: 0;
	opacity: var(--_backdrop-opacity);
	pointer-events: auto;
	position: fixed;
	z-index: 99999;
}

.wp-block-matter-drawer__content {
	z-index: 100000;
}
