.wp-block-eighteen73-blocks-carousel-progress {
	// stylelint-disable custom-property-pattern -- backwards compatibility
	--eighteen73-blocks--carousel--progress--background: var(--carousel-progress-background, var(--wp--custom--color--surface--inactive));
	--eighteen73-blocks--carousel--progress--bar: var(--carousel-progress-bar, var(--wp--custom--color--secondary--200));
	--eighteen73-blocks--carousel--progress--border-radius: var(--carousel-progress-border-radius, var(--wp--custom--border-radius--xl));
	--eighteen73-blocks--carousel--progress--height: var(--carousel-progress-height, 10px);
	// stylelint-enable custom-property-pattern

	background-color: var(--eighteen73-blocks--carousel--progress--background);
	border-radius: var(--eighteen73-blocks--carousel--progress--border-radius);

	&.has-background {
		background-color: var(--wp--style--color--background);
	}
	height: var(--eighteen73-blocks--carousel--progress--height);
	overflow: hidden;
	position: relative;
	width: 100%;

	.embla__progress__bar {
		background-color: var(--eighteen73-blocks--carousel--progress--bar);
		border-radius: var(--eighteen73-blocks--carousel--progress--border-radius);
		bottom: 0;
		left: -100%;
		position: absolute;
		top: 0;
		transition: transform 200ms ease-out;
		width: 100%;
	}
}
