.wp-block-matter-tab-list {
	&.is-collapsible {
		.wp-block-matter-tab-list__list,
		.wp-block-matter-tab-list__select {
			display: block;
		}

		.wp-block-matter-tab-list__list {
			display: flex;
			flex-wrap: nowrap;
			gap: 0.5em;
			margin-bottom: 0.5em;
		}
	}

	&__list {
		display: flex;
		flex-wrap: nowrap;
		gap: 0.5em;
	}

	button {
		&.is-active::before {
			border-bottom: 2px solid currentcolor;
			bottom: 0;
			content: "";
			left: 0;
			pointer-events: none;
			position: absolute;
			width: 100%;
		}
	}
}
