.wp-block-matter-tab-list {
	&.is-collapsible {
		.wp-block-matter-tab-list__select {
			display: block;
		}

		.wp-block-matter-tab-list__list {
			margin-bottom: 0.5em;
		}
	}

	&__list {
		align-items: inherit;
		display: flex;
		flex-wrap: inherit;
		gap: inherit;
		justify-content: inherit;
		width: 100%;
	}

	&__select {
		display: none;
		width: 100%;
	}
}
