@use "../../constants/breakpoints" as bp;

.wp-block-matter-tab-list {
	box-sizing: border-box;
	width: 100%;

	&__select {
		display: none;
		width: 100%;
	}

	&__list {
		align-items: inherit;
		display: flex;
		flex-direction: inherit;
		flex-wrap: nowrap;
		gap: inherit;
		justify-content: flex-start;
		overflow-x: auto;
		width: 100%;

		@media (--lg) {
			justify-content: inherit;
		}
	}

	.is-vertical {
		.wp-block-matter-tab-button {
			flex-basis: 100%;
			width: 100%;
		}
	}

	&.is-collapsible {
		.wp-block-matter-tab-list__select {
			display: block;
		}

		.wp-block-matter-tab-list__list {
			display: none;
		}
	}

	@each $breakpoint-name, $breakpoint-size in bp.$breakpoints {
		&.is-collapsible-until-#{$breakpoint-name} {
			@media (min-width: $breakpoint-size) {
				.wp-block-matter-tab-list__select {
					display: none;
				}

				.wp-block-matter-tab-list__list {
					display: flex;
				}
			}
		}
	}

	.wp-block-matter-tab-button {
		--_active-color: var(--matter-tab-button--active-color, currentcolor);
		--_media-size: var(--matter-tab-button--media-size, 56px);
		--_media-border-radius: var(--matter-tab-button--media-border-radius, 100%);
		--_media-gap: var(--matter-tab-button--media-gap, 10px);
		--_padding: var(--matter-tab-button--padding, 0.5em);
		--_border-radius: var(--matter-tab-button--border-radius, 0);
		--_background-color: var(--matter-tab-button--background-color, transparent);
		--_color: var(--matter-tab-button--color, currentcolor);
		--_border: var(--matter-tab-button--border, none);

		align-items: center;
		appearance: none;
		background: var(--_background-color);
		border: var(--_border);
		border-radius: var(--_border-radius);
		box-sizing: border-box;
		color: var(--_color);
		cursor: pointer;
		display: flex;
		flex-basis: max-content !important; // stylelint-disable-line declaration-no-important
		flex-shrink: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		gap: var(--_media-gap);
		letter-spacing: inherit;
		line-height: inherit;
		margin: 0;
		padding: var(--_padding);
		position: relative;
		text-align: inherit;
		text-decoration: none;
		text-transform: inherit;
		width: max-content;

		&__media {
			display: block;
			flex-shrink: 0;
			overflow: hidden;
		}

		&__image,
		&__video {
			border-radius: var(--_media-border-radius);
			display: block;
			height: var(--_media-size);
			object-fit: cover;
			width: var(--_media-size);
		}
	}
}
