:where(.wp-block-matter-tab-list button) {
	-webkit-appearance: none;
	appearance: none;
	background: none;

	// Button reset
	border: none;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	display: block;
	flex-basis: inherit !important; // stylelint-disable-line declaration-no-important
	flex-grow: inherit !important; // stylelint-disable-line declaration-no-important
	font-family: inherit;

	// Inherit typography from parent
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;

	margin: 0;
	padding: var(--wp--preset--spacing--20, 0.5em) var(--wp--preset--spacing--30, 1em);
	position: relative;
	text-align: inherit;
	text-decoration: none;
	text-transform: inherit;
	width: max-content;

	&[aria-selected="true"]::before,
	&.is-active::before {
		border-bottom: 2px solid currentcolor;
		bottom: 0;
		content: "";
		left: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
	}
}
