.wp-block-matter-modal-navigation {
	--_background-color: var(--matter-modal-navigation--background-color, var(--wp--custom--matter-modal-navigation--background-color, transparent));
	--_color: var(--matter-modal-navigation--color, var(--wp--custom--matter-modal-navigation--color, currentcolor));
	--_icon-color: var(--matter-modal-navigation--icon-color, var(--wp--custom--matter-modal-navigation--icon-color, currentcolor));
	--_inset: var(--matter-modal-navigation--inset, var(--wp--custom--matter-modal-navigation--inset, 0));
	--_border-radius: var(--matter-modal-navigation--border-radius, var(--wp--custom--matter-modal-navigation--border-radius, 0));
	--_font-size: var(--matter-modal-navigation--font-size, var(--wp--custom--matter-modal-navigation--font-size, inherit));
	--_padding: var(--matter-modal-navigation--padding, var(--wp--custom--matter-modal-navigation--padding, 0));
	--_gap: var(--matter-modal-navigation--gap, var(--wp--custom--matter-modal-navigation--gap, 0.5em));

	align-items: center;
	background-color: var(--_background-color);
	border: unset;
	border-radius: var(--_border-radius);
	box-shadow: unset;
	color: var(--_color);
	cursor: pointer;
	display: inline-flex;
	font-size: var(--_font-size);
	gap: var(--_gap);
	line-height: 1;
	padding: var(--_padding);
	z-index: 1;

	&:disabled,
	&[aria-disabled="true"] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&__icon {
		background-color: var(--_icon-color);
		content: "";
		display: inline-block;
		height: 1em;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		width: 1em;
	}

	&:where(.is-direction-previous) {
		.wp-block-matter-modal-navigation__icon {
			mask-image: url("../../../assets/svg/arrow-left.svg");
		}
	}

	&:where(.is-direction-next) {
		flex-direction: row-reverse;

		.wp-block-matter-modal-navigation__icon {
			mask-image: url("../../../assets/svg/arrow-right.svg");
		}
	}
}
