.wp-block-matter-accordion-heading {
	$block: &;

	--_toggle--size: var(--matter-accordion--toggle--size, var(--wp--custom--matter-accordion--toggle--size, 1em));
	--_toggle--gap: var(--matter-accordion--toggle--gap, var(--wp--custom--matter-accordion--toggle--gap, 0.5em));

	color: inherit;

	#{$block}__toggle {
		align-items: center;
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		display: flex;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		line-height: inherit;
		overflow: hidden;
		text-align: inherit;
		text-decoration: inherit;
		text-transform: inherit;
		width: 100%;
		word-spacing: inherit;

		&:not(:focus-visible) {
			outline: none;
		}

		&:hover #{$block}__toggle-title {
			text-decoration: underline;
		}
	}

	#{$block}__toggle-title {
		flex: 1;
	}

	#{$block}__toggle-icon {
		align-items: center;
		display: flex;
		height: var(--_toggle--size);
		justify-content: center;
		width: var(--_toggle--size);
	}

	&.has-icon-left #{$block}__toggle-icon {
		margin-inline-end: var(--_toggle--gap);
	}
	&.has-icon-right #{$block}__toggle-icon {
		margin-inline-start: var(--_toggle--gap);
	}
}
