.wp-block-eighteen73-blocks-carousel-viewport {
	.embla__container:empty,
	.embla__container:has(.block-list-appender:only-child) {
		aspect-ratio: 16 / 9;
		border: 1px dashed #000;
	}

	.embla__container > .wp-block + .block-list-appender {
		align-self: center;
		flex: 0 0 auto;

		.block-editor-button-block-appender {
			background-color: #1e1e1e;
			box-shadow: none;
			color: #fff;
			height: 24px;
			min-width: 24px;
			padding: 0;
			width: auto;
		}
	}
}
